= form_for @shift do |f|
  - if @shift.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shift.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @shift.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, '名前'
    = f.text_field :name
  .form-group
    = f.label :day, '希望日程'
    = f.text_field :day